<h1>MY LISTS</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new List", new_list_path, class: 'btn btn-primary' %>
